[Desktop Entry]
Version=1.0.9
Type=Application

Name=Timing Trainer
Comment=Learn to identify sub-second timing intervals.
Categories=Game;LogicGame;

Icon=com.adilhanney.timing
Exec=timing_flutter
Terminal=false
StartupWMClass=timing_flutter
